<div class="container text-center">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2>Autómata vehículos</h2>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h5>¿Es un automóvil?</h5>
      <button type="button" class="btn btn-primary btn-lg mr-5" (click)="setParam('automovil', 's')">Sí</button>
      <button type="button" class="btn btn-primary btn-lg ml-5" (click)="setParam('automovil', 'n')">No</button>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div *ngIf="data['automovil'] == 's'" class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h5>¿Es automático?</h5>
      <button type="button" class="btn btn-primary btn-lg mr-5" (click)="setParam('automatico', 's')">Sí</button>
      <button type="button" class="btn btn-primary btn-lg ml-5" (click)="setParam('automatico', 'n')">No</button>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div *ngIf="data['automatico'] == 's'" class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h5>¿Tiene modo standar?</h5>
      <button type="button" class="btn btn-primary btn-lg mr-5" (click)="setParam('modoestandar', 's')">Sí</button>
      <button type="button" class="btn btn-primary btn-lg ml-5" (click)="setParam('modoestandar', 'n')">No</button>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div *ngIf="data['modoestandar'] == 's'" class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h5>¿Manejas standar?</h5>
      <button type="button" class="btn btn-primary btn-lg mr-5" (click)="setParam('manejarestandar', 's')">Sí</button>
      <button type="button" class="btn btn-primary btn-lg ml-5" (click)="setParam('manejarestandar', 'n')">No</button>
    </div>
    <div class="col-md-3"></div>
  </div>

</div>